KAFKA_BROKERS=localhost:9092
KAFKA_INBOUND_TOPIC=bpollo.events.raw
KAFKA_GRAPH_TOPIC=bpollo.events.graph
KAFKA_PATTERN_TOPIC=bpollo.events.pattern
KAFKA_WATCH_TOPIC=bpollo.events.watch
KAFKA_CONSUMER_GROUP=event-router
NODE_ENV=development
